.ck-content h2 {  font-size: 28px; }
.ck-content h3 {  font-size: 24px; }
.ck-content h4 {  font-size: 20px; }
.ck-content p { font-size: 16px; margin-top: 1em; margin-bottom: 1em }
.ck-content ul { list-style: disc; margin-left: 1rem; }
.ck-content ol { list-style: decimal; margin-left: 1rem; }
.ck-content a { color: #0066cc; text-decoration: underline; }
.ck-content figure.image {width: 24rem; height: 24rem; overflow: hidden; display: inline-block;}
.ck-content img { min-width: 24rem; min-height: 24rem;}
.ck-editor__editable_inline {
    min-height: 300px;
}
.parallax {
    /* The image used */
    background-image: url('/images/banner.png');

    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.is-pinned {
    display: flex;
    animation-duration: 0.3s;
    animation-name: title-in;
}

@keyframes title-in {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.content-container, .banner, .placeholder {
    position: relative; /* crucial for z-index to work */
}
  
.content-container, .banner { 
    z-index: 10; 
}

.placeholder {
    z-index: 1;
}

.parallax-footer {
    position: fixed;
    bottom: 0;
    z-index: 5;
}

.blog-content figure.image {
    width: 20rem;
    height: 20rem;
}

.blog-content figure.image p {
    padding: 6rem 0;
}

.blog-content img {
    min-width: 20rem;
    min-height: 20rem;
    object-fit: cover;
}


@media screen and (max-width: 900px) {
    .parallax {
        background-position: 65% 50%;
    }

    .blog-content figure.image {
        width: 16rem;
        height: 16rem;
    }

    .blog-content figure.image div {
        width: 16rem;
        height: 16rem;
    }

    .blog-content figure.image p {
        padding: 3rem 0;
    }
    
    .blog-content img {
        min-width: 16rem;
        min-height: 16rem;
    }
}

@media screen and (max-width: 650px) {
    .parallax {
        background-position: 70% 50%;
    }

    .blog-content figure.image {
        width: 40vw;
        height: 40vw;
    }

    .blog-content figure.image div {
        width: 40vw;
        height: 40vw;
    }

    .blog-content figure.image p {
        padding: 6vw 0;
    }
    
    .blog-content img {
        min-width: 40vw;
        min-height: 40vw;
    }
}

